#? stdtmpl | standard
#proc genNotFound(title, path: string): string =
#  result = ""
<!doctype html>
<html lang="en">
<head>
<title>$title</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div id="content">
    <h1>404 Not Found</h1>
    <p>$path</p>
  </div>
</body>
</html>