#? stdtmpl | standard
#proc genContent(title, content: string): string =
#  result = ""
<!doctype html>
<html lang="en">
<head>
<title>$title</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div id="content">
    $content
  </div>
</body>
</html>